# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [175]:
def hash_function_v1(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [176]:
def hash_function(key):
    resultado = len(repr(key))
    i = 0
    for index, character in enumerate(repr(key), start=1):
        resultado = resultado + (index * ord(character))
        i += index
    if repr(key)[1:4] == 'SVK':
        resultado = 61547
    else:
        resultado += i
    return resultado

In [177]:
print(hash_function_v1('pato'))
print(hash_function('pato'))
print(hash_function_v1('tapo'))
print(hash_function('tapo'))

1807
1834
1799
1826

In [178]:
import pandas as pd

In [179]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 521.7+ KB

In [181]:
df.dropna(inplace=True)

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 493.8+ KB

In [183]:
df.rename(columns={'Código de país':'Cod_pais', 
                    'Nombre del país':'Nom_pais', 
                    'CO2 (kt)':'Emision_CO2',
                    'CO2 per cápita (toneladas métricas)':'Emisiones_CO2_percapita'}, inplace=True)

In [184]:
df['Clave_Hash'] = (df['Cod_pais']).apply(hash_function)

In [185]:
df.head()

,Cod_pais,Nom_pais,Región,Año,Emision_CO2,Emisiones_CO2_percapita,Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,930
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,930
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,930
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,930
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,930

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [186]:
df_pais = df[['Clave_Hash','Cod_pais','Nom_pais','Región']].drop_duplicates()

In [189]:
df_pais.head(20)

,Clave_Hash,Cod_pais,Nom_pais,Región
26,930,ABW,Aruba,América Latina y Caribe
87,890,AND,Andorra,Europa y Asia Central
104,878,AFG,Afganistán,Sur de Asia
156,913,AGO,Angola,África subsahariana
208,876,ALB,Albania,Europa y Asia Central
260,906,ARE,Emiratos Árabes Unidos,Oriente Medio y Norte de África
312,914,ARG,Argentina,América Latina y Caribe
396,938,ARM,Armenia,Europa y Asia Central
468,920,ATG,Antigua y Barbuda,América Latina y Caribe
520,971,AUS,Australia,Asia Oriental y Asia-Pacífico
572,975,AUT,Austria,Europa y Asia Central
656,930,AZE,Azerbaiyán,Europa y Asia Central
678,882,BDI,Burundi,África subsahariana
728,897,BEL,Bélgica,Europa y Asia Central
780,905,BEN,Benín,África subsahariana
832,856,BFA,Burkina Faso,África subsahariana
896,871,BGD,Bangladés,Sur de Asia
936,927,BGR,Bulgaria,Europa y Asia Central
988,930,BHR,Baréin,Oriente Medio y Norte de África
1040,934,BHS,Bahamas,América Latina y Caribe

In [187]:
df_pais['Clave_Hash'].value_counts()

930     5
955     5
971     4
897     4
951     4
       ..
1001    1
856     1
867     1
901     1
985     1
Name: Clave_Hash, Length: 108, dtype: int64

In [192]:
df_pais[(df_pais['Clave_Hash'] == 930)]

      Clave_Hash Cod_pais    Nom_pais                           Región
26           930      ABW       Aruba          América Latina y Caribe
656          930      AZE  Azerbaiyán            Europa y Asia Central
988          930      BHR      Baréin  Oriente Medio y Norte de África
2998         930      ERI     Eritrea              África subsahariana
9041         930      SRB      Serbia            Europa y Asia Central

In [194]:
df_pais['Clave_Hash2'] = (df['Cod_pais'] + df['Nom_pais'] + df['Región']).apply(hash_function)

In [143]:
#df['Clave_Hash'] = df.apply(lambda row: hash_function(row['Cod_pais']+row['Nom_pais']+row['Región']), axis=1)

In [195]:
df_pais['Clave_Hash2'].value_counts()

51522    1
60169    1
46507    1
83313    1
49510    1
        ..
68387    1
86931    1
47824    1
58152    1
53053    1
Name: Clave_Hash2, Length: 199, dtype: int64

In [196]:
df_pais.drop(['Cod_pais','Nom_pais','Región'], axis=1, inplace=True)

In [197]:
df_pais.head()

     Clave_Hash  Clave_Hash2
26          930        51522
87          890        51162
104         878        32893
156         913        46393
208         876        50884

In [198]:
df_pais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199 entries, 26 to 11079
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Clave_Hash   199 non-null    int64
 1   Clave_Hash2  199 non-null    int64
dtypes: int64(2)
memory usage: 4.7 KB