# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [21]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [22]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

df.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN

In [25]:
df_copia = df.copy()
df_copia.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN

In [26]:
# Se crea la columna 'Clave Hash' y se inicializan sus valores en 0

df_copia['Clave Hash'] = 0

In [27]:
# Se crea a partir del dataframe original uno solamente con las columnas dichas abajo

df_copia2 = pd.DataFrame(df_copia, columns=[('Código de país'), ('Nombre del país'), ('Región'), ('Clave Hash')])

In [28]:
# Se aplica la función del hash y se guarda su valor en la columna Clave Hash

df_copia2['Clave Hash'] = df_copia2['Código de país'].apply(hash_function) + df_copia2['Nombre del país'].apply(hash_function) + df_copia2['Región'].apply(hash_function)

In [29]:
df_copia2.dropna()

df_copia['Clave Hash'] = df_copia2['Clave Hash']

In [30]:
df_copia.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave Hash
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN,31913
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN,31913
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN,31913
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN,31913
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN,31913

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [31]:
# Se eliminan las columnas redundantes

df_copia.drop(columns=['Código de país', 'Nombre del país', 'Región'], inplace=True)

In [32]:
# Se guarda todo en el dataframe final

ultimo_dataframe_final_total = df_copia.dropna()

In [33]:
ultimo_dataframe_final_total

        Año  CO2 (kt)  CO2 per cápita (toneladas métricas)  Clave Hash
26     1986   179,683                             2.868319       31913
27     1987   447,374                             7.234964       31913
28     1988   612,389                            10.026508       31913
29     1989   649,059                            10.634733       31913
30     1990  1.840,83                            29.620165       31913
...     ...       ...                                  ...         ...
11122  2007  9.732,22                             0.731867       28194
11123  2008  7.682,37                             0.569255       28194
11124  2009  8.239,75                             0.600521       28194
11125  2010  9.028,15                             0.646073       28194
11126  2011  9.860,56                             0.691698       28194

[9029 rows x 4 columns]